{block content}
<div class="container">

    <div class="board">
        <div class="card bg-light">
            <div class="card-header">
                <h3 class="card-title">{_messages.election.editElection}</h3>
            </div>
            <div class="card-body">
                {control electionForm}
            </div>
        </div>
    </div>
</div>
