{block content}
<div class="container">
    <div class="board">
        <div class="card bg-light">
            <div class="card-header">
                <h3 class="card-title">{_messages.board.editBoard}</h3>
            </div>
            <div class="card-body">
                {control boardForm}
            </div>
        </div>
    </div>
</div>
